* {
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%), url('1.jpg');
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;

}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: rgb(243, 146, 55);
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 20px;
    float: left;
    padding-top: 35px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial ;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}
ul li a:hover{
    color:rgb(243, 146, 55)
}

.content{
    width: 1000px;
    height: auto;
    margin: auto;
    margin-top: 70px;
    color: blanchedalmond;
    position: relative;
}
.par{
    margin-top: 30px;
}